/* global styles */
* {
  margin: 0;
  padding: 0;
}

body {
  outline: none;
  font-family: "Poppins", sans-serif;
}
/* Navbar styles */

form {
  background: #424245;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  height: 4.5rem;
}

.titter {
  color: white;
  margin: auto;
}

ul {
  list-style: none;
  max-width: 75%;
  min-width: 50%;
  height: 70px;
  margin-top: 0;
  outline: 0;
  display: inline-flex;
  justify-content: left;
  align-items: left;
}

li {
  margin: auto auto;
}

.navbar-btn {
  color: #ffff;
  text-decoration: none;
  margin: auto auto;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.navbar-btn:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}

.search-buttons {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.search {
  height: 2.5rem;
  border: none;
  border-radius: 0.3rem;
}

.search-btn {
  height: 2.5rem;
  margin: auto 0.7rem;
  border: none;
  border-radius: 0.3rem;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2rem;
}

.search-btn:hover {
  color: aqua;
  font-size: 1.3rem;
}

/* news styles */

#news-detailes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  /* margin: 2rem 0.5rem; */
  /* width: 25vw; */
  /* display: flex; */
}

.container{
  max-width: 95vw;
  min-width: 80em;
  margin: 1rem auto;
}

.news-container{
  margin: 1rem 0.5rem;
}

.card {
  min-width: 20vw;
  max-width: 35vw;
  height: 30vw;
  min-height: 25vw;
  background-color: rgb(243, 243, 243);
  border-radius: 0.3rem;
  margin: 1rem 0.2rem;
}

.news-image{
  border-radius: 0.3rem;
}

.card-body {
  padding: 1rem;
}

.news-title{
  font-size: 1.1rem;
}

.news-date{
  display: flex;
  justify-content: flex-end;  
}

.news-text{
  display: flex;
  margin: 1rem auto !important;
  text-align: justify;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-link {
  text-decoration: none;
  background-color: #424245;
  color: #ffff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.news-link:hover{
  opacity: 0.8;
}
